* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  background-color: #f6f4eb;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-vertical{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.border-bottom{
  padding: 12px 4px;
  border-bottom: 1px solid #E8E2E2;
}

.navbar-header {
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 0;
  align-items: start !important;
}

.nav-drawer ul,
.nav-drawer div {
  border: none !important;
}

.menu {
  border: 0;
  justify-content: center;
}

.details-section {
  padding: 20px;
  min-height: 100vh;
  background: #fff;
}

.details-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-bottom: 20px;
}

.badge {
  padding: 2px 8px;
  border-radius: 100px;
  border: 1px solid #000;
  font-size: 17px;
  margin-bottom: 12px;
}

.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab-active {
  background: #3a98b9;
  color: #fff;
  font-size: 16px;
}

.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #fff;
}

.pc-build {
  max-width: 700px;
  padding: 20px;
  border-radius: 5px;
  margin: 16px auto;
  background: #fff;
}

.price-item-card {
  background: #3749bb;
  padding: 5px 20px;
  border-radius: 5px;
}

.core-heading{
  margin: 24px 0 0 0;
  color: #fff;
  padding: 1.5px 8px;
  font-weight: 500;
  background-color: #808996;
  border-radius: 4px;
}

@media only screen and (max-width: 768px) {
  .details-header {
    padding: 20px 4px;
  }

  .details-header {
    flex-direction: column;
    gap: 10px;
  }

  .badge {
    padding: 2px 4px;
    font-size: 14px;
  }
}
